.container
{
    margin:0 auto;
    width: 50%;
    height: 60%;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form
{
    width:330px;
    margin:0 auto;
    padding:30px;
    outline: black;
    background-color:palegreen ;
}
h1{
    text-align: center;
    padding: 10px;
}
.nice{
    widows: 100%;
    height:30px;
    border-radius:3px;
    margin-top:10px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 2px #aaa;
}
body{
    margin: 0;

    padding: 0;
    background: url(.jpg);
    background-size: 100%;
    background-position: center;
    font-family: sans-serif;
}
.centered
{
    text-align:center;
    width:100%;
}
input.centered
{
    padding:7px ;
    background-color: black;
    color: #FFF;
    font-weight: bold;
    margin:0 auto;
}